.progressBarContainer {
    .progress {
        width: 100%;
        height: 2px;
        display: block;
        background-color: rgba(74, 84, 101, 1);
        border-radius: 20px;
        .progressBar {
            height: 2px;
            display: block;
            background-color: #ffffff;
            border-radius: 20px;
            &.showTransition{
                transition: width 0.5s;
            }
        }
    }
}
