$track-height-default: 2px;
$track-height-hovered: 8px;
$progress-color: #fff;
$track-color: #4a5465;
$buffered-color: #a9acb3;
$seek-hover: #fff;

.videoSeekSlider {
    position: relative;
    touch-action: none;

    &:focus {
        outline: none;
    }

    .track {
        padding: 0;
        cursor: pointer;
        height: 20px;
        outline: none;
        cursor: none;

        &:focus {
            border: 0;
            outline: none;
        }

        .main {
            width: 100%;
            outline: none;
            height: 2px;
            top: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 20px;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: $track-height-default;
                background-color: $track-color;
                // border-radius: 30px;
                overflow: hidden;
                transition: height 0.1s;
                outline: none;
                border-radius: 20px;
            }

            .innerSeekBlock {
                position: absolute;
                width: 100%;
                height: $track-height-default;
                transition: height 0.1s, opacity 0.4s;
                transform-origin: 0 0;
                border-radius: 20px;
            }

            &:focus {
                border: 0;
                outline: none;
            }

            .buffered {
                background-color: unset;
                z-index: -1;
                border-radius: 20px;
            }

            .seekHover {
                background-color: $seek-hover;
                z-index: -1;
                border-radius: 20px;
            }

            .connect {
                background-color: $progress-color;
                z-index: 3;
                border-radius: 20px;
                transform-origin: 0 0;
            }

            &.withGap {
                .innerSeekBlock,
                &:before {
                    width: calc(100% - 2px);
                    margin: 0 auto;
                }
            }

            // @media (hover) {
            //   &:hover {
            //     &:before {
            //       height: $track-height-hovered;
            //     }

            //     .innerSeekBlock {
            //       height: $track-height-hovered;
            //     }
            //   }
            // }
        }
    }

    .thumb {
        pointer-events: none;
        position: absolute;
        width: 12px;
        height: 12px;
        left: -6px;
        z-index: 4;
        top: 5px;

        .handler {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            background-color: $progress-color;
            opacity: 1;
            transform: scale(0.5);
            transition: transform 0.2s, opacity 0.2s;
        }

        &.active {
            .handler {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .hoverTime {
        position: absolute;
        bottom: 25px;
        left: 0;
        pointer-events: none;
        text-align: center;
        color: #ffffff;
        opacity: 0;
        padding: 8px;
        border-radius: 50px;
        background: var(--N800);
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;

        &.active {
            opacity: 1;
        }

        .previewScreen {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 160px;
            height: 90px;
            border-radius: 5px;
            background-color: #000;
            margin: 0 auto 10px;
        }
    }

    &:hover {
        .track {
            .main {
                .seekHover {
                    opacity: 1;
                }
            }
        }
    }
}
